*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/*flex容器的一般属性设置 
height
width
*/
nav{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: aquamarine;
    height:60px;
    width:100%;
    border: 2px solid rgb(255, 93, 45);
    border-radius: 5px;

}

/*anchor的一般属性设置
font-size
*/
a{
    
    color: rgb(255, 93, 45);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size:1rem; 
    padding:10px 20px;
}

a:hover{
    background-color: rgb(255, 93, 45);
    color: rgb(0, 251, 255);
    border-radius:5px;
}

.burger-menu{
    display:none;
    flex-direction:column;
    justify-content: space-between;
    width:30px;
    height:30px;
    cursor:pointer;
}

.burger-menu span{
    width:100%;
    height:3px;
    background-color:  rgb(228, 68, 10);

}

@media(max-width: 768px){
   .burger-menu{
        display: flex;
   }
   /* transition */
   .nav-menu{
        display: flex;
        position:absolute;
        top: 100%;
        left: 0;
        right:0;
        flex-direction:column;
        align-items: center;
        background-color: rgb(221,237,232);
        max-height:0;
        opacity:0;
        visibility:hidden;
        overflow:hidden;
        transition:all 0.9s ease;
        border:2px solid rgb(255, 93, 45); 
        border-radius: 5px;
   }

   /* show的作用 */
   .nav-menu.show{
        display: flex;
        max-height: 300px;
        opacity:1;
        visibility:visible;
   }
}